{% extends 'base.html' %}
{% block title %}accueil{% endblock %}

{% block content %}
    <h1>predications de l'Église MCV</h1>
    <ul>
        {% for predication in predications %}
            <li>
                <strong>{{ predication.titre }}</strong> - Prêché par {{ predication.orateur }} le {{ predication.date|date:"d M Y" }}<br>
                {% if predication.audio_url %}
                    <a href="{{ predication.audio_url }}">Écouter le predication</a>
                {% endif %}
            </li>
        {% empty %}
            <p>Aucune prédication disponible.</p>
        {% endfor %}
{% endblock %}
